@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* font-family: 'Roboto', sans-serif; */
  font-family: "DM Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
}


.icons-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.icons-container .material-symbols-outlined {
  font-size: 1.6rem;
  cursor: pointer;
  user-select: none;
}
.icons-container .material-symbols-outlined:hover {
  color: #ff4d4d; /* Red color on hover */
}


.video-section {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 960px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}
.video-section video {
  width: 100%;
  object-fit: cover;
}

.desc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 36px;

}

.desc-wrapper-inner {
  width: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
}

.desc-wrapper-inner h1 {
  font-size: 36px;
  font-weight: bold;
}

.desc-wrapper-inner p {
  font-size: 1.5rem;
}

.desc-wrapper-inner button {
  margin-top: 8px;
}












footer {
  height: 300px;
}


