.main-content {
  padding-left: 80px;
  padding-right: 80px;
}

.products-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product-item {
  width: 288px;
  padding-block: 8px;
  padding-inline: 16px;
  border-radius: 6px;

  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  width: 288px;
}

.product-item:hover {
  background-color: #1f293750;
}

.product-item img {
  width: 100%;
  background-size: cover;
  aspect-ratio: 1;
}

.product-item .item-body {
  padding-block: 8px;
  border-top-width: 1px;
  text-align: center;
}

.product-item .item-body .discount {
  color: #34d399;
}
